@import "_variables.scss";

.employeeImage{
    height: $image-size;
    width: $image-size;
}

.router-link-active{
    background-color: $active-link-bg!important;
}

.editEmployeeLink, .deleteEmployeeForm{
    padding: 5px;
}
.deleteEmployeeForm{
    margin-top: 5px;
}
