.employeeImage {
  height: 50px;
  width: 50px;
}

.router-link-active {
  background-color: #35a866 !important;
}

.editEmployeeLink, .deleteEmployeeForm {
  padding: 5px;
}

.deleteEmployeeForm {
  margin-top: 5px;
}
